.app {
  text-align: center;
}

.search-bar {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px auto;
  max-width: 500px;
}
a {
  text-decoration: none;
}

a[href*="thelemonsqueezy"],
a[href*="ezy.com"] {
  display: none !important;
}

