
.detail-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 14px;
  background: #ff7f50;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  transition: 0.2s;
}

.detail-btn:hover {
  background: #ff5722;
}
